@import url(http://fonts.googleapis.com/css?family=Hind);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
}
.leaflet-control-attribution{
  display: none;
}
html,body,section{
  width: 100%;
  height: 100%;

}
aside{
  width: 90%;
  height: 150px;
  margin-top:20px;
  position: fixed;
  z-index: 999999;
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
  box-shadow: 1px 1px 1px  rgba(black,.3),
              -1px 1px 1px rgba(#000,.3);
  border-radius: 10px;
  display: none;


}
aside > div:first-child{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside> div:first-child > div:first-child{
  width: 30%;
  height: 100%;
//  background: red;
  box-shadow:0px 4px 1px  darken(#FFFFFF,20);
  display: flex;
  justify-content: center;
  align-items: center;
}
aside> div:first-child > div:first-child span{
  font-size: 4em;
  color: white;
  text-shadow: 1px 0px 2px darken(#000, 5);
  text-shadow: -1px 0px 2px darken(#000, 5);

}
.rutaFavorita{
  color: #FA3900;
}
aside> div:first-child > div:last-child{
  width: 70%;
  height: 100%;
  max-height: 100%;
  //background: yellow;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
  font-size: .79em;

}

aside >div:last-child{
  position: relative;
  left: 0;
  bottom: 0;
  background: linear-gradient( darken( #25B7FA,8),#25B7FA);
  height: 50px;
  outline: 1px solid darken(#25B7FA,10);
  border-bottom: 3px solid darken(#25B7FA,10);
}

aside div:last-child ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: white;

}
aside div:last-child ul li{
  height: 100%;
  width: 33.333333%;
  box-shadow: 1px 0px 1px darken(#25B7FA, 8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .84em;
  text-shadow: 1px 0px 2px darken(#000, 5);
  cursor: pointer;
}
aside div:last-child ul li:active{
  background: linear-gradient( darken( #25B7FA,15),#25B7FA);
}
aside >div:last-child ul li span{
  margin-right: 10px;

}
footer{
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  margin: 30px auto;
  z-index: 20;
  //background: red;
  display: flex;
  justify-content: center;
}
footer a{
  text-decoration: none;
  background: #36D278;
  color: white !important;
  display: inline-block;
  line-height: 2.8em;
  height: 3em;
  padding: 0 2em;
  border-radius: 1em;
  border: 1px solid darken(#36D278, 10);
  border-bottom-width: 5px;
  box-shadow: 0 0 0 1px rgba(#fff,.15) inset;
  font-size: 15px;
  text-shadow: 0 -1px rgba(#000,.7);
}
footer a:active{
  border-bottom-width: 0;
  line-height: 4em;
}




#rutasEncontradas{
  position: fixed;
  top: 10px;
  z-index: 999999 !important;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: auto;
  border: 1px solid red;
    ul{
      list-style: none;
      border-radius: 10px;
    }
    li{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;

    }
    li div:first-child{
      width: 30%;
      height: 100%;
      background-image: url(../img/Sobusa.jpg);
      box-shadow:0px 4px 1px  darken(#FFFFFF,20);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li div:last-child{
      width: 70%;
      height: 100%;
      max-height: 100%;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 10px;
      font-size: .79em;
    }
}

.btnParodesSelec{
    background: linear-gradient( darken( #25B7FA,15),#25B7FA);
  border-bottom-width: 0 !important;
  line-height: 4em !important;

}
