@import url(https://fonts.googleapis.com/css?family=Roboto);
$bodyBackground:#000;
$headerBackground:#1b1a1a;

$colorFont:#fff;
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Candal', sans-serif;
	
}





@import "navigation.scss";
@import "header.scss";
@import "aside.scss";
@import "utilidades.scss";


